
{{> head }}

{{> navbar }}



<div class=" row">
  <div class=" col-8">
    <h2>Pagina About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus suspendisse, magna dignissim tempus nunc nibh vulputate elementum vestibulum purus, vivamus consequat viverra placerat cum enim nostra venenatis. Pretium nascetur viverra vel dictum duis lectus, interdum potenti torquent placerat vehicula, turpis diam mauris sapien tempus. Nisl placerat fusce platea volutpat aliquam aptent ligula maecenas etiam, quis vel curabitur natoque dignissim mattis nullam eget commodo, class et nisi mollis felis iaculis nulla primis.
    </p>
    <p>
    Tempus nulla eros hac pellentesque ut vestibulum blandit primis quam, per aliquam erat a pharetra eu risus non senectus, bibendum platea arcu torquent nam sem inceptos leo. Consequat iaculis lectus netus curae montes vehicula aliquet mattis eget, eu ad dapibus tincidunt potenti facilisis praesent habitasse nec, sagittis odio nullam magnis convallis neque litora suspendisse. Leo mus nec bibendum vel faucibus morbi dignissim suscipit tempor velit, molestie hac class urna mattis imperdiet euismod pulvinar curae, a iaculis hendrerit sem condimentum egestas tristique congue nam.
    </p>

  </div>

    <div class="col-4">
    ​<picture>
  
      <img src="assets/img/external.jpg" class="img-fluid img-thumbnail" alt="...">
    </picture>
  </div>

</div>



{{> footer }}

